body{
  background-color:rgb(218, 128, 128);
}
.Input{
  background-color: rgb(183, 220, 220);
  width: 60rem;
  height: 5rem;
  border-radius: 27rem;
  margin-top: 20px;
  margin-left: 22%;
}

.card-body{
  width: 60rem;
  box-sizing: 2rem;
  height: 5rem;
  border-radius: 27rem;
  margin-top: 30px; 
}

h1{
  margin-left: 715px;
  color: white;
  font-size: 65px;
}

.card{
    background-color:lightgray;
    border: 5px solid rgb(94, 82, 82);
    border-radius: 25rem;
    margin-left: 22%;
    top: 30px;
    width: 60rem;
    height: 5rem; 
}

.card-body {
  width: 60rem;
  box-sizing: 2rem;
  height: 5rem;
  border-radius: 27rem;
  margin-top: 4px;
  font-size: larger;
}

@media(max-width:750px){
  h1 {
    margin-left: 467px;
    color: white;
    font-size: 65px;
}
.Input {
  background-color: rgb(183, 220, 220);
  width: 60rem;
  height: 5rem;
  border-radius: 27rem;
  margin-top: 20px;
  margin-left: 3%;
}
.card{
  background-color:lightgray;
  border: 5px solid rgb(94, 82, 82);
  border-radius: 25rem;
  margin-left: 3%;
  top: 30px;
  width: 60rem;
  height: 5rem; 
}
}